<!DOCTYPE html>
<html>
<head>
    <title>My Flask App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
        <h1 class="text-center">Crea diapositivas de</h1>
        <h1 class="text-center fw-bold text-danger">PowerPoint</h1>
        <h1 class="text-center">rapidamente</h1>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form id="form" action="/download" method="GET" onsubmit="showLoading()">
                        <div class="input-group mb-3">
                            <input type="text" name="inputText" class="form-control" placeholder="Escribe tu tema" aria-label="theme" aria-describedby="button-addon2" required>
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Generar</button>
                        </div>
                        <div class="form-group mb-3">
                            <label for="exampleInputPassword1">Numero de diapositivas</label>
                            <input type="number" class="form-control" value="6" placeholder="6" name="slideCount" min="1" max="19">
                          </div>
                          <div class="form-group mb-3">
                            <label for="exampleInputPassword1">API KEY</label>
                            <input type="text" name = "apiKey" class="form-control"  min="1" max="19">
                            <a href = "https://platform.openai.com/account/api-keys" target="_blank">¿Donde consigo mi API KEY?</a>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="language" id="flexRadioDefault1" value="spanish" checked>
                            <label class="form-check-label" for="flexRadioDefault1">
                             Español
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="language" id="flexRadioDefault2" value="english">
                            <label class="form-check-label" for="flexRadioDefault2">
                              English
                            </label>
                          </div>

                    </form>
                    <p id="aviso" style="display: none;">Contactando la IA...</p>
                </div>
            </div>
        </div>
    </div>
    <p>version 1.0</p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script>
        function showLoading(event) {

            var avisoElement = document.getElementById('aviso');
            avisoElement.style.display = 'block';

            setTimeout(function() {
                avisoElement.textContent = 'Creando diapositivas...';
            }, 8000);
            setTimeout(function() {
                avisoElement.textContent = 'Preparando la descarga...';
            }, 16000);
            setTimeout(function() {
                avisoElement.style.display = 'none';
                avisoElement.textContent = 'Contactando la IA...';
            }, 24000);


        } 
    </script>
</body>
</html>
